.Cards{
  $base-margin: 10px;
  $base-height: 400px;
  $base-display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;

  padding: 0px;
  margin : 15px;


  .lineChartCard{
    display: $base-display;
    width: 1000px;
    height: $base-height;
    margin: $base-margin;
    box-sizing: border-box;

  }
  .radarChartCard{
    display: $base-display;
    width: 600px;
    height: $base-height;
    margin: $base-margin;
  }

  .statisticsCard{
    display: $base-display;
    width: 200px;
    height: $base-height;
    margin: $base-margin;
  }

  .comparisonCard{
    display: $base-display;
    width: 1000px;
    height: $base-height;
    margin: $base-margin;
    box-sizing: border-box;
  }

  .algo3dGraphCard{
    display: $base-display;
    width: 600px;
    height: $base-height;
    margin: $base-margin;
    box-sizing: border-box;
  }

}