.LineChart{
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 650px;
  height: 200px;
}
.RadarChart{
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 350px;
  height: 200px;
}